body{
    background-color: black;
}
h1{
    font-size: 200px;
}
div{
    width:100%;
    height:100%;
    background-image: url(sky.png);
    background-size: 100%;
    background-repeat: no-repeat;
    color: transparent;
    background-clip: text;

}