*{
            margin:0px;
            padding:0px;
            box-sizing:border-box;
        }
        body{
            width:100%;
            height:3000px;
            overflow:auto;
        }
        .all{
            display:block;
        }
        .navbar ul{
            width:100%;
            height:20px;
            padding:30px;
            gap:20px;
            background:linear-gradient(to right,deeppink,lightpink,lightcoral);
            display:flex;
            justify-content:center;
            align-items:center;
            list-style:none;
        }
        .navbar ul li{
            cursor:pointer;
            font-size:18px;
            color: white;
        }
        .button{
            background:linear-gradient(to right,deeppink,lightpink);
            border-radius:10px;
            padding:5px 15px;
        }
        h2{
            color:deeppink;
            font-size:28px;
            text-align:center;
            margin:5px;
        }
        .firstlineboxes{
            display:flex;
            justify-content:center;
            align-items:center;
            gap:15px;
            margin-top:15px;
            color:deeppink;
        }
        .box1{
            background-image:url(https://i.pinimg.com/736x/e1/91/72/e191723d71a7f45fca40fe1fa6b4a1eb.jpg);
            background-repeat:no-repeat;
            background-size:100% 100%;
            width:150px;
            height:150px;
            border-radius:10px;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .box2{
            background-image:url(https://www.onlinepng.com/cdn/shop/files/CH-930308-1.jpg?v=1719397529);
            background-repeat:no-repeat;
            background-size:100% 100%;
            width:150px;
            height:150px;
            border-radius:10px;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .box3{
            background-image:url(https://s-media-cache-ak0.pinimg.com/originals/45/29/be/4529bee8d9a037fdb40cb8c8fd801f47.jpg);
            background-repeat:no-repeat;
            background-size:100% 100%;
            width:150px;
            height:150px;
            border-radius:10px;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .box4{
            background-image:url(https://www.gehnaindia.com/_next/image?url=https%3A%2F%2Fcdn-assets.gehnaindia.com%2F4hro77vf9dczj94i9lobyyxudmyq&w=3840&q=75);
            background-repeat:no-repeat;
            background-size:100% 100%;
            width:150px;
            height:150px;
            border-radius:10px;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .box5{
            background-image:url(https://www.tanishq.co.in/on/demandware.static/-/Sites-Tanishq-product-catalog/default/dw908fe0fa/images/hi-res/511920FCMAA00.jpg);
            background-repeat:no-repeat;
            background-size:100% 100%;
            width:150px;
            height:150px;
            border-radius:10px;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .box6{
            background-image:url(https://akshayagold.in/wp-content/uploads/2023/01/021.png);
            background-repeat:no-repeat;
            background-size:100% 100%;
            width:150px;
            height:150px;
            border-radius:10px;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        .box7{
            background-image:url(http://dreamjwell.com/cdn/shop/products/DSC_0642_d4074e8e-a836-4b8c-b6ed-ec4832d622d7.webp?v=1669714611);
            background-repeat:no-repeat;
            background-size:100% 100%;
            width:150px;
            height:150px;
            border-radius:10px;
            display:flex;
            justify-content:center;
            align-items:center;
        }
        p{
            color:deeppink;
            font-size:18px;
            position:absolute;
            top:280px;
        }
        .filter{
            color:deeppink;
            font-size:20px;
            border:1px solid pink;
            padding:5px;
            position:absolute;
            top:340px;
            left:50px;
        }
        .filter1{
            font-size:18px;         
        }
        .filter2{
            font-size:26px;
            color:deeppink;
            position:absolute;
            top:340px;
            left:145px;
        }
        .filter-right{
            color:deeppink;
            border:1px solid deeppink;
            padding:5px;
            position:absolute;
            top:340px;
            right:40px;
        }
        .star1{
            background:linear-gradient(to right,deeppink,lightpink);
            color:white;
            width:140px;
            padding:15px;
            border-radius:5px;
            position:absolute;
            top:400px;
            right:450px;
        }
        .star2{
            background:linear-gradient(to right,deeppink,lightpink);
            color:white;
            width:170px;
            padding:15px;
            border-radius:5px;
            position:absolute;
            top:400px;
            right:260px;
        }
        .truck{
            background:linear-gradient(to right,deeppink,lightpink);
            color:white;
            width:190px;
            padding:15px;
            border-radius:5px;
            position:absolute;
            top:400px;
            right:48px;
        }
        .secondlineboxes h4,.thirdlineboxes h4{
            color:deeppink;
            position:absolute;
            top:305px;
        }
        .secondlineboxes p{
            position:absolute;
            top:323px;
        }
        .thirdlineboxes p{
            position:absolute;
            top:323px;
        }
        /* .underline{
            text-decoration:line-through;
            position:absolute;
        } */
        .underline1{
            text-decoration:line-through;
            position:absolute;
            top:305px;
            left:55px;
        }
        .underline2{
            text-decoration:line-through;
            position:absolute;
            top:305px;
            left:370px;
        }
        .underline3{
            text-decoration:line-through;
            position:absolute;
            top:305px;
            right:495px;
        }
        .underline4{
            text-decoration:line-through;
            position:absolute;
            top:305px;
            right:180px;
        }
        .underline5{
            text-decoration:line-through;
            position:absolute;
            top:305px;
            left:55px;
        }
        .underline6{
           text-decoration:line-through;
            position:absolute;
            top:305px;
            left:383px;
        }
        .underline7{
            text-decoration:line-through;
            position:absolute;
            top:305px;
            right:495px;
        }
        .underline8{
            text-decoration:line-through;
            position:absolute;
            top:305px;
            right:180px;
        }
        .circle i{
            border-radius:50%;
            border:1.5px solid brown;
            color:brown;
            width:24px;
            height:24px;
            padding:2px;
        }
        .heart1{
            position:absolute;
            left:270px;
        }
        .heart2{
            position:absolute;
            left:585px;
        }
        .heart3{
            position:absolute;
            right:320px;
        }
        .heart4{
            position:absolute;
            right:5px;
        }
        .heart5{
            position:absolute;
            left:270px;
        }
        .heart6{
            position:absolute;
            left:585px;
        }
        .heart7{
            position:absolute;
            right:320px;
        }
        .heart8{
            position:absolute;
            right:5px;
        }
        .secondlineboxes{
            display:flex;
            justify-content:center;
            align-items:center;
            gap:15px;
            margin-top:15px;
            position:absolute;
            top:500px;
        }
        .thirdlineboxes{
            display:flex;
            justify-content:center;
            align-items:center;
            gap:15px;
            margin-top:15px;
            position:absolute;
            top:900px;
        }
        .secondbox1{
            background-image:url(https://www.chidambaramgoldcovering.com/image/cache/catalog/ChidambaramGoldCovering/necklace/nckn3027-single-ruby-stone-peacock-design-gold-necklace-shop-online-gold-covering-jewellery-1a-1700x2000.jpg);
            background-repeat:no-repeat;
            background-size:100% 100%;
            width:300px;
            height:300px;
            border-radius:10px;
        }
        .secondbox2{
            background-image:url(https://static.wixstatic.com/media/b69f5d_4d9b874cc9e6492da18bacc475830d7d~mv2.jpg/v1/fill/w_940,h_788,al_c,q_85,enc_auto/b69f5d_4d9b874cc9e6492da18bacc475830d7d~mv2.jpg);
            background-repeat:no-repeat;
            background-size:100% 100%;
            width:300px;
            height:300px;
            border-radius:10px;
        }
        .secondbox3{
            background-image:url(https://static.malabargoldanddiamonds.com/media/catalog/product/cache/1/image/9df78eab33525d08d6e5fb8d27136e95/n/p/npjun10032_c.jpg);
            background-repeat:no-repeat;
            background-size:100% 100%;
            width:300px;
            height:300px;
            border-radius:10px;
        }
        .secondbox4{
            background-image:url(https://cdn1.jewelxy.com/live/img/business_product/y2XYxudpBK_20211031155956.jpg);
            background-repeat:no-repeat;
            background-size:100% 100%;
            width:300px;
            height:300px;
            border-radius:10px;
        }
        .thirdbox1{
            background-image:url(https://images.laceandfavour.com/_cache/_products/728x728/dotty-gold-crystal-leaves-adjustable-bracelet-lifestyle-2.jpg);
            background-repeat:no-repeat;
            background-size:100% 100%;
            width:300px;
            height:300px;
            border-radius:10px;
        }
        .thirdbox2{
            background-image:url(https://manubhai.in/SocialMedia/post_artworks/2407202006223393.jpg);
            background-repeat:no-repeat;
            background-size:100% 100%;
            width:300px;
            height:300px;
            border-radius:10px;
        }
        .thirdbox3{
            background-image:url(https://www.chidambaramgoldcovering.com/image/cache/catalog/ChidambaramGoldCovering/anklets/ankl1204-new-ruby-green-stone-gold-anklet-one-gram-gold-jewellery-1-408x480.jpg);
            background-repeat:no-repeat;
            background-size:100% 100%;
            width:300px;
            height:300px;
            border-radius:10px;
        }
        .thirdbox4{
            background-image:url(https://www.caratlane.com/blog/wp-content/uploads/2023/01/0N3A3684.jpg);
            background-repeat:no-repeat;
            background-size:100% 100%;
            width:300px;
            height:300px;
            border-radius:10px;
        }
        .secondbox1:hover{
            background-image:url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEjIPLApfkxEilzZSMzBHf25aE8vgr-SnymOmETAJnMT_tO5XT880fcV33OaZeaqtr8T_9ghxsv9rHyxn-rOi8hPjejWT6xrDlgreM41TeTQ7bPj-y3Z7fh9vBE88bmWpzs3a1CykiwaM31qRnuzoNV3PXSJFRXkc3KOjw0PHNvqt-Q1DYGTWQZHs8dnxw/s720/Trisha2.jpeg);
        }
        .secondbox2:hover{
            background-image:url(https://feeds.abplive.com/onecms/images/uploaded-images/2022/11/07/733d94a752286ec186faf380d8aeac9e1667813923798380_8.jpg);
        }
        .secondbox3:hover{
            background-image:url(https://i.pinimg.com/736x/77/82/71/778271a67109949495bae87fc99d3751.jpg);
        }
        .secondbox4:hover{
            background-image:url(https://th.bing.com/th/id/R.5b30d0f3bea8184a6243899d2c163455?rik=DJ5ABKp72RCcZA&riu=http%3a%2f%2f3.bp.blogspot.com%2f-Q-SlvrgtirQ%2fTl_pKJ330kI%2fAAAAAAAAD0g%2fw1D_APLDPJI%2fs1600%2fIndian%2bjewellery%2bmodels%2b1.jpg&ehk=5rmNEAOmt6oaQlYCv8uDPp8Ddb6oyLwe1aYhCBAKbL4%3d&risl=&pid=ImgRaw&r=0);
        }
        .thirdbox1:hover{
            background-image:url(https://res.cloudinary.com/kendra-scott/image/upload/q_auto,f_auto,dpr_2/w_292,h_366,c_fit/Catalogs/kendrascott/7_11_24/disney%20model%20update%209.23.24/PDP_6.jpg);
        }
        .thirdbox2:hover{
            background-image:url(https://cdn.shopify.com/s/files/1/0039/6994/1568/files/170Q-ET-R-3.3-WG_attBRyPgHWigZBGL3_ca4d57af-662a-475e-acea-af20e4ccbebf.jpg?v=1722765674&width=2400&height=2400&crop=center);
        }
        .thirdbox3:hover{
            background-image:url(https://cdn.shopify.com/s/files/1/2202/3303/collections/RDP_8171_Copy1.jpg?v=1505652906);
        }
        .thirdbox4:hover{
            background-image:url(https://assets.myntassets.com/h_200,w_200,c_fill,g_auto/h_1440,q_100,w_1080/v1/assets/images/2024/OCTOBER/28/nrleTEaI_6cd7a602c447497ea09f0422d7dd9bb0.jpg);
        }  
        /* .hover1,.hover2,.hover3{
            display:none;
        } 
        .hover1:hover,.hover2:hover,.hover3:hover{
            display:block;
        }
         /* .all:hover .hover1{
            display:block;
         } */
          .hover1{
            display:none;
            color:brown;
            background-color:floralwhite;
            padding:10px;
            height:100vh;
            width:100%;
            line-height:30px;
            position:absolute;
            z-index:1;
        } 
        .hover2{
            display:none;
            color:brown;
            background-color:floralwhite;
            padding:10px;
            height:100vh;
            width:100%;
            line-height:30px;;
            position:absolute;
            z-index:1;
        } 
        .hover3{
            display:none;
            color:brown;
            background-color:floralwhite;
            padding:10px;
            height:100vh;
            width:100%;
            line-height:30px;
            position:absolute;
            z-index:1;
            
        } 
         .nav:has(.jewel:hover) .hover1{
            display:block;
        }
         .nav:has(.gold:hover) .hover2{
            display:block;
        }
         .nav:has(.diamond:hover) .hover3{
            display:block;
        }