body {
  background-color: white;
  text-align: center;
  margin-top: 80px;
}

.container {
  border: 2px solid purple;
  display: inline-block;
  padding: 20px 30px;
  border-radius: 10px;
  width: 450px;  
  text-align: center;  
}

p:first-letter {
  color: deeppink;
  font-size: 40px;
  font-weight: bold;
}

p {
  color: darkblue;
  font-weight: bold;
}

input {
  width: 95%;
  height: 25px;
  border: 1.5px solid purple;
  border-radius: 4px;
  outline: none;
  padding: 5px;
  box-sizing: border-box;
}

input:focus {
  background-color: lightgreen;
  color: red;
}

button {
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 6px 18px;
  cursor: pointer;
  margin-left: 100px;
}

button:active {
  background-color: green;
  text-align: center;
}

.link {
  color: red;
  text-decoration: underline;
  font-weight: bold;
  text-align: left;
}

.link:focus {
  border: 2px solid green;
  background-color: white;
  padding: 2px 4px;

}
