.bg{
background-color:teal;
}
.first{
color:white;
}
.second{
color:black;
}
.third{
color:black;
}
div{
width:200px;
height:200px;
background-color:teal;
color:white;
text-align:center;
float:left;
margin-:5px;
}

