body{
background-color:red;
}
div{
height:400px;
width:250px;
float:left;
margin-right:15px;
text-align:center;
margin:5px;
}
img{
height:100px;
width:100px;
border-radius:50%;
display:block;
margin-left:auto;
margin-right:auto;
}
p{
text-align:center;
}
.first{
color:black;
}
.second{
color:white;
}
.third{
color:white;
}
.fourth{
color:white;
}
