body{
background-color:white;
}
.one{
background-color:white;
height:650px;
width:70%;
margin:auto;
margin-top:30px;
}
h2{
padding:15px 0px 0px 20px;
}
span{
color:red;
}
select{
width:220px;
height:35px;
margin:0px 0px 10px 50px;
}
input{
width:220px;
height:35px;
margin:0px 0px 0px 50px;
}
.two{
float:left;
}
h4{
display:inline-block;
margin:20px 0px 10px 50px;
}
.mobile{
width:70px;
}
select,input{
border-radius:8px;
border:1px solid black;
color:blue;
}

