body{
  margin:0;
  padding:0;
  font-family:'Segoe UI', cursive, sans-serif;
  height:100%;
  overflow-x:scroll;
  /* margin-top:80px; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#fdf8f0;
  padding: 10px 40px;
  font-family: Arial, sans-serif;
  height:130px;
  /* position:fixed; */
  /* width:100%; */
  /* position:relative; */
  top:0;
  z-index:1000;
}
.nav-left{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 200px;
}
.nav-right{
  margin-bottom: auto;
  gap:30px;
}
.navbar a {
  text-decoration: none;
  color: rgb(58, 27, 4);
  font-weight: bold;
  font-size: 18px;
}
.logo {
  height:70px;
  width: 250px;
  position:absolute;
  top:50px;
  left:0;
}
.nav-right a:not(:last-child) {
  border-right: 1px solid rgb(54, 27, 7);
  padding-right: 15px;
  margin-right: 10px;
}
.navbar a {
  text-decoration: none;
  color:rgb(62, 31, 9);
  font-weight: bold;
  font-size: 18px;
  transition: 0.1s;
}
.navbar a:hover {
  color:deeppink;
}
nav {
  background-color: #fff0e6;
  padding: 10px;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: brown;
  font-weight: bold;
}
/* nav a:hover {
  color: deeppink;
} */
.hero {
  background-image: url("https://www.galaxychocolate.co.in/cdn-cgi/image/width=1440,height=580,f=auto,quality=90/sites/g/files/fnmzdf1911/files/2021-10/396000232_Galaxy_HP_Hero_3000x1286px.jpg");
  background-size: cover;
  background-position: center;
  height: 400px;
  position: relative;
}
.hero-text {
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; 
   /* font-optical-sizing: auto; 
  font-weight: weight; 
  font-style: normal; */
  font-size: 25px;
  /* display:flex; */
  /* flex-wrap: wrap; */
  font-weight:500;
  color:white;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
chocolate-section {
  display: flex;
  background-color: #4b2b1a;
  /* padding: 60px 10%; */
  color: white;
  align-items: center;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  position: absolute;
}
.background{
  background-image: url("./2img.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height:700px;
  width:100%;
  position:relative;
}
img{
  position:absolute;
  top:650px;
  height:500px;
  width:auto;
} 
.floating-choco{
  position:absolute;
  top:10px;
  left:60px;
  z-index:10;
}
.choco-img {
  animation: floatUpDown 3s ease-in-out infinite;
  /* position:absolute; */
   height: 550px;
   width:auto;
  transition: transform 0.3s ease;
}
@keyframes floatUpDown {
   0%   { transform: translateY(0); }
  50%  { transform: translateY(-15px); }
  100% { transform: translateY(0); } 
}
.text{
  position:absolute;
  margin-left:600px;
  top:700px;
  color:white;
  font-size:xx-large;
}
.discover-btn {
  display:inline-block;
  background-color:deeppink;
  color:white;
  padding:12px 30px;
  border-radius:25px;
  text-decoration:none;
  font-weight:bold;
  font-size:14px;
  transition:all 0.3s ease;
}
.discover-btn:hover {
  background-color:white;
  color:deeppink;
  border:none;
}
h2{
  color:#4b2b1a;
  font-family: "Dancing Script", cursive;
  /* font-optical-sizing: auto;
  font-weight: weight; */
  /* font-style: normal; */
  text-align:center;
  font-size:80px;
  /* font-weight: bold; */
}
.collections {
  text-align: center;
  padding: 60px 20px;
  background: #fdf9f3;
}
.curved-line {
  width: 60px;
  height: 6px;
  background-color: #c89f5b;
  border-radius: 50% 50% 0 0;
  margin: 10px auto 30px auto; 
  /* transform: scaleX(1.5); */
}
.collections-title {
  font-family: 'Pacifico', cursive;
  font-size: 42px;
  color: #5a2e1d;
  margin-bottom: 10px;
  text-align: center;
}
.collection-items {
  display: flex;
  justify-content: center;
  gap: 120px;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
}
.collection-item {
  width: 250px;
  text-align: center;
  align-items: center;
  background-color:#fefaf5;
}

.collection-item1 img {
  width: 100%;
  height: 300px;
  /* transition: transform 0.4s ease, box-shadow 0.3s ease; */
  position: relative;
  background-repeat: no-repeat;
  top:0px;
  background-color: #fefaf5;
}
.collection-item2 img {
  width: 100%;
  height: 300px;
  /* transition: transform 0.4s ease, box-shadow 0.3s ease; */
  position: relative;
  background-repeat: no-repeat;
  top:0px;
}
.collection-item3 img {
  width: 100%;
  height: 300px;
  /* transition: transform 0.4s ease, box-shadow 0.3s ease; */
  position: relative;
  background-repeat: no-repeat;
  top:0px;
}

.collection-item1,.collection-item2,.collection-item3, img:hover {
  transform: scale(1.05);
  /* box-shadow: 0 10px 20px rgba(0,0,0,0.2); */
}

.collection-item h3 {
  font-family: 'Poppins', sans-serif;
  color: #5a2e1d;
  margin: 20px 0 10px;
  font-size: 18px;
  text-align: center;
}
.view-btn {
  display: inline-block;
  background: deeppink;
  color: white;
  padding: 10px 25px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  transition:background 0.3s, transform 0.3s;
}

.view-btn:hover {
  background:white;
  color:deeppink;
  border: none;
  transform: scale(1.05);
}
.about-section {
  background-image: url("./abt-bg.avif");
  position: fixed;
  background-size: cover;
  background-position: center;
  color: white;
  text-align: center;
  padding: 100px 20px;
  position: relative;
}
.about-content {
  max-width: 700px;
  margin: auto;
  padding: 40px 20px;
  border-radius: 15px;
}
.about-label {
  font-weight: bold;
  letter-spacing: 1px;
  line-height: 80px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  /* margin-bottom: 90px; */
}

.about-title {
  font-family:"Dancing Script", cursive;
  font-size: 60px;
  color: white;
  margin-bottom: 100px;
}
.about-desc {
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  margin-bottom: 30px;
}
.curved-line {
  width: 60px;
  height: 6px;
  background-color: #c89f5b; 
  border-radius: 50% 50% 50% 50%; 
  margin: 10px auto 30px auto;
  transform: scaleX(1.5);
}
.learn-btn {
  display: inline-block;
  background:deeppink;
  color: white;
  padding: 12px 28px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: all 0.3s ease;
  border: 2px solid transparent;
}
.learn-btn:hover {
  background:white;
  color:deeppink;
  border:none;
}
.discover-world {
  background: #fefaf5;
  padding: 60px 20px;
  text-align: center;
  font-family: 'Poppins', sans-serif;
}
.section-title {
  font-size: 40px;
  color: #4b210c;
  font-family: 'Dancing Script', cursive;
}
.discover-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 40px;
}
.discover-item {
  max-width: 400px;
  background: white;
  border-radius: 15px;
  padding: 20px;
}
.discover-item img {
  width:300px;
  height:200px;
  border-radius: 10px;
  top:10px;
  position:relative;
}
.discover-item h3 {
  font-size: 22px;
  color: #4b210c;
  margin: 15px 0 10px;
  font-weight: 800;
}
.discover-item p {
  font-size: 15px;
  color: #444;
  margin-bottom: 20px;
}
.discover-btn {
  display: inline-block;
  background:deeppink;
  color:black;
  padding: 10px 22px;
  border-radius: 30px;
  font-weight: bold;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
  text-align: center;
}
.discover-btn:hover {
  background:white;
  color:deeppink;
  border:none;
}

.social-section {
  text-align: center;
  padding: 60px 20px;
  font-family: 'Poppins', sans-serif;
  background-color:#fefaf5 ;
}
.section-title {
  font-size: 90px;
  color: rgb(84, 40, 9);
  font-family: 'Dancing Script', cursive;
  margin-top:0px;
}
.curved-line {
  width: 60px;
  height: 6px;
  background-color: #c89f5b; 
  border-radius: 50% 50% 50% 50%; 
  margin: 10px auto 30px auto; 
  transform: scaleX(1.5); 
}
.social-grid {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
.social-post img {
  width: 200px;
  height:200px;
  top:50px;
  position: relative;
  border-radius: 15px;
  transition: 0.3s ease;
}
.instagram1{
  color:black;
  position:relative;
  right:80px;
  bottom:150px;
}
.instagram2{
  color:white;
  position:relative;
  right:80px;
  bottom:150px;
}
.footer-nav {
  background-color: #fefaf5;
  height:200px;
  padding: 0px 10px; 
  top:0px;
}
.footer-content {
  display: flex;
  align-items: center;
  /* justify-content: space-between; */
  flex-wrap: wrap;
  top:0px;
  padding:0 20px;
  margin-top:-180px;
}
.footer-logo {
  width: 190px;
  position: relative;
  top:0px;
  align-items: center;
  padding:0px 10px;
}
.footer-links {
  display: flex;
  gap:60px;
}
.footer-links a {
  text-decoration: none;
  color: #4a260f;
  font-weight:bold;
  font-family: 'Poppins', sans-serif;
  transition: color 0.1s;
  background: none; 
  /* padding: 5px 10px; */
}
.footer-links a:hover {
  color:deeppink;
}
.footer-links a {
  background-color:transparent !important; 
  padding: 8px 12px;
  text-decoration: none;
  color: #4b2e2e;
}
 .footer-section {
  background-color:#4a260f;
  height:600px;
  color: white;
  padding: 40px 60px;
  font-family: Arial, sans-serif;
  display: flex;
  position: relative;
  clip-path:(150% 100% at 50% 0%);
  margin-top: 100px; 
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.follow-us h4 {
  font-weight: bold;
  margin-bottom: 10px;
}
 .social-icons i {
  margin-right: 15px;
  font-size: 18px;
  cursor: pointer;
}
/* .footer-links-grid {
  display: flex;
  gap: 60px;
  left:200px;
}
.footer-links-grid div p {
  margin: 5px 0;
  cursor: pointer;
} */
 .right-links {
  flex: 2;
  display: flex;
  justify-content: flex-end;
  gap:70px;
}

.right-links ul {
  position:relative;
  list-style: none;
  /* padding: 0; */
  left:230px;
  gap:20px;
  /* display: flex; */
}
.footer-bottom{
  position: absolute;
  top:220px;
  left:500px;
  display:flex;
  flex-wrap: wrap;
  float: right;
  margin-right:100px;
  font-size: 14px;
  /* margin-bottom: 50px; */
}

 .footer-bottom-bar {
  background-color:#4a260f;
  padding: 30px 0;
  display: flex;
  justify-content: flex-start; 
  border-top: 1px solid #aaa;
}

.bottom-content {
  max-width: 500px;
  margin-left: 50px; 
  text-align: left; 
  color: #fff;
}

.bottom-content h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color:white;
}

.discover-btn {
  padding: 10px 25px;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: all 0.3s ease;
  background: transparent;
}

.discover-btn:hover {
  background-color: deeppink;
  color: white;;
}
