.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#fdf8f0;
  padding: 10px 40px;
  font-family: Arial, sans-serif;
  height:150px;
  position:fixed;
  /* width:100%; */
  position:relative;
  top:0;
  z-index:1000;
}
.nav-left{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 200px;
}
.nav-right{
  margin-bottom: auto;
  gap:30px;
}
.navbar a {
  text-decoration: none;
  color: rgb(58, 27, 4);
  font-weight: bold;
  font-size: 18px;
}
.logo {
  height:70px;
  width: 250px;
  position:absolute;
  top:50px;
  left:0;
}
.nav-right a:not(:last-child) {
  border-right: 1px solid rgb(54, 27, 7);
  padding-right: 15px;
  margin-right: 10px;
}
.home {
  background-color:#fdf8f0;
  width:1230px;
  padding: 10px 20px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  color: #4b2e1e;
  /* position: absolute; */
  /* position: fixed; */
}
.home a {
  color: #d9006c;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}
.home a:hover {
  color: #cba135; 
}
.hero-section {
  position: relative;
  background: url("./2ndpage.avif") no-repeat center center/cover;
  height: 100vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.hero-content {
  max-width: 700px;
  padding: 30px;
}
.sub-heading {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
.hero-content h1 {
  font-size: 3rem;
  margin: 10px 0;
  font-weight: 800;
}
.underline {
  width: 40px;
  height: 4px;
  background: #d6b153;
  margin: 20px auto 0;
  border-radius: 50px;
}
.intro-text {
  background: #fff;
  padding: 80px 20px; 
  text-align: center;
}

.intro-text p {
  max-width: 400px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.8;
  color:rgb(185, 100, 39);
  font-family:'Times New Roman', Times, serif;
}
.choco-section {
  background-color: #4d2b1f;
  padding: 200px 200px;
  height:350px;
}

.choco-content {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
  max-width: 1200px;
  margin: auto;
}

.choco-img {
  width: 310px;
  animation: float 3s ease-in-out infinite;
  margin-left: 0px;
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.choco-text {
  color: white;
  max-width: 500px;
}

.choco-text .tagline {
  font-size: 14px;
  letter-spacing: 1px;
}

.choco-text h2 {
  font-size: 50px;
  margin: 20px 0 40px;
  font-weight: 800;
  margin-right:0px;
}

.discover-btn {
  display: inline-block;
  background-color: #e6007e;
  color: white;
  padding: 12px 30px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.discover-btn:hover {
  background-color: white;
  color: #e6007e;
}


