.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#fdf8f0;
  padding: 10px 40px;
  font-family: Arial, sans-serif;
  height:150px;
  position:fixed;
  /* width:100%; */
  position:relative;
  top:0;
  z-index:1000;
}
.nav-left{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 200px;
}
.nav-right{
  margin-bottom: auto;
  gap:30px;
}
.navbar a {
  text-decoration: none;
  color: rgb(58, 27, 4);
  font-weight: bold;
  font-size: 18px;
}
.logo {
  height:70px;
  width: 250px;
  position:absolute;
  top:50px;
  left:0;
}
.nav-right a:not(:last-child) {
  border-right: 1px solid rgb(54, 27, 7);
  padding-right: 15px;
  margin-right: 10px;
}
.home {
  background-color:#fdf8f0;
  width:1230px;
  padding: 10px 20px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  color: #4b2e1e;
  /* position: absolute; */
  /* position: fixed; */
}
.home a {
  color: #d9006c;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}
.home a:hover {
  color: #cba135; 
}
.hero-section {
  position: relative;
  background: url("./2ndpage.avif") no-repeat center center/cover;
  height: 100vh;
  width:100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
}
.hero-content {
  max-width: 700px;
  padding: 30px;
}
.sub-heading {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
}
.hero-content h1 {
  font-size: 3rem;
  margin: 10px 0;
  font-weight: 800;
}
.underline {
  width: 40px;
  height: 4px;
  background: #d6b153;
  margin: 20px auto 0;
  border-radius: 50px;
}
.intro-text {
  background: #fff;
  padding: 80px 20px; 
  text-align: center;
}

.intro-text p {
  max-width: 400px;
  margin: 0 auto;
  font-size: 18px;
  line-height: 1.8;
  color:rgb(185, 100, 39);
  font-family:'Times New Roman', Times, serif;
}
.choco-section {
  background-color: #4d2b1f;
  padding: 200px 200px;
  height:250px;
}

.choco-content {
  display: flex;
  align-items: center;
  justify-content: center;
  /* flex-wrap: wrap; */
  gap: 100px;
  max-width: 1200px;
  margin: auto;
}

.choco-img {
  width: 310px;
  height:600px;
  max-height:320px;
  object-fit:contain;
  animation: float 3s ease-in-out infinite;
  /* margin-left: 0px; */
}

@keyframes float {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-20px); }
}

.choco-text {
  color: white;
  max-width: 650px;
}

.choco-text .tagline {
  font-size: 14px;
  letter-spacing: 2px;
  margin-bottom: 10px;
  color:deeppink;
}

.choco-text h2 {
  font-size: 50px;
  margin: 20px 0 40px;
  font-weight: 900;
  margin-right:0px;
  position: relative;
}

.discover-btn {
  display: inline-block;
  background-color: #e6007e;
  color: white;
  padding: 14px 40px;
  border-radius: 25px;
  text-decoration: none;
  font-weight: 600;
  transition: all 0.3s ease;
}

.discover-btn:hover {
  background-color: white;
  color: #e6007e;
}

.product-card {
  /* display: flex; */
  position:relative;
  width:110px;
  background: white;
  border-radius: 25px;
  padding: 80px;
  text-align: center;
  transition: all 0.4s ease;
  cursor: pointer;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
}

.product-card img {
  align-items: center;
  right:25px;
  width: 190px;
  height:200px;
  transition: transform 0.4s ease;
  display: flex;
  position:relative;
}

.product-card h3 {
  margin: 25px 0;
  color: #4b2c20;
}

.product-card button {
  background: #e6007e;
  color: white;
  border: none;
  padding: 14px 35px;
  border-radius: 30px;
  font-weight: bold;
  cursor: pointer;
}

.product-card:hover {
  background: #e6007e;
  transform: translateY(-10px);
}

.product-card:hover h3 {
  color: white;
}

/* .product-card:hover img {
  transform: scale(1.08);
} */

.product-card:hover button {
  background: white;
  color: #e6007e;
}
.products {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 40px 80px;
}
.products2 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  padding: 40px 80px;
}

.our-story {
  position: relative;
  text-align: center;
  padding: 100px 20px;
  border-top: 5px solid #e11c65; 
  background-color:white;
}

.our-story h2 {
  font-family:'Times New Roman', Times, serif;
  font-size: 50px;
  margin-bottom: 50px;
  color: #4a2c2a;
}

.our-story p {
  font-size:20px;
  color: #333;
  max-width: 600px;
  margin: 0 auto 30px;
}

.our-story button {
  background-color: #e11c65;
  color: white;
  padding: 12px 25px;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}

.left-img {
  position: absolute;
  bottom: 10px;
  left:10px;
  width: 180px;
}

.right-img {
  position: absolute;
  top: 20px;
  right: 10px;
  width: 180px;
}

.social-section {
  text-align: center;
  padding: 60px 20px;
  font-family: 'Poppins', sans-serif;
  background-color:#fefaf5;
}
.section-title {
  font-size: 90px;
  color: rgb(84, 40, 9);
  font-family: 'Dancing Script', cursive;
  margin-top:0px;
}
.curved-line {
  width: 60px;
  height: 6px;
  background-color: #c89f5b; 
  border-radius: 50% 50% 50% 50%; 
  margin: 10px auto 30px auto; 
  transform: scaleX(1.5); 
}
.social-grid {
  display: flex;
  justify-content: center;
  gap: 100px;
  flex-wrap: wrap;
}
.social-post img {
  width: 200px;
  height:200px;
  top:50px;
  position: relative;
  border-radius: 15px;
  transition: 0.3s ease;
}
.instagram1{
  color:black;
  position:relative;
  right:80px;
  bottom:150px;
}
.instagram2{
  color:white;
  position:relative;
  right:80px;
  bottom:150px;
}
.footer-nav {
  background-color: #fefaf5;
  /* height:200px; */
  padding: 40px 60px; 
  /* bottom: 30px; */
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* top:0px; */
  /* padding:0 20px; */
  /* margin-top:-180px; */
}
.footer-logo {
  width: 190px;
  position: relative;
  /* top:0px;
  align-items: center;
  padding:0px 10px; */
}
.footer-links {
  display: flex;
  gap:60px;
}
.footer-links a {
  text-decoration: none;
  color: #4a260f;
  font-weight:bold;
  font-family: 'Poppins', sans-serif;
  /* transition: color 0.1s;
  background: none;  */
  /* padding: 5px 10px; */
}
.footer-links a:hover {
  color:deeppink;
}
.footer-links a {
  background-color:transparent !important; 
  padding: 8px 12px;
  text-decoration: none;
  color: #4b2e2e;
}
 .footer-section {
  background-color:#4a260f;
  height:600px;
  color: white;
  padding: 60px;
  font-family: Arial, sans-serif;
  /* display: flex; */
  /* position: relative; */
  /* clip-path:(150% 100% at 50% 0%); */
  /* margin-top: 100px;  */
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom:40px;
}
.follow-us h4 {
  font-weight: bold;
  margin-bottom: 10px;
}
 .social-icons i {
  margin-right: 15px;
  font-size: 18px;
  cursor: pointer;
}
/* .footer-links-grid {
  display: flex;
  gap: 60px;
  left:200px;
}
.footer-links-grid div p {
  margin: 5px 0;
  cursor: pointer;
} */
 .right-links {
  /* flex: 2; */
  display: flex;
  /* justify-content: flex-end; */
  gap:80px;
}

.right-links ul {
  /* position:relative; */
  list-style: none;
  padding: 0;
  /* left:230px; */
  /* gap:20px; */
  /* display: flex; */
}
.footer-bottom{
  position: absolute;
  top:4400px;
  left:500px;
  display:flex;
  flex-wrap: wrap;
  float: right;
  margin-right:100px;
  font-size: 14px;
  margin-bottom: 50px;
}

 .footer-bottom-bar {
  background-color:#4a260f;
  padding: 30px 0;
  display: flex;
  justify-content: flex-start; 
  border-top: 1px solid #aaa;
}

.bottom-content {
  max-width: 500px;
  margin-left: 50px; 
  text-align: left; 
  color: #fff;
}

.bottom-content h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color:white;
}

.discover-btn {
  padding: 10px 25px;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: all 0.3s ease;
  background: transparent;
}

.discover-btn:hover {
  background-color: deeppink;
  color: white;;
}
