body{
  margin:0;
  padding:0;
  font-family:'Segoe UI', cursive, sans-serif;
  height:100%;
  overflow-x:scroll;
  /* margin-top:80px; */
}
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:#fdf8f0;
  padding: 10px 40px;
  font-family: Arial, sans-serif;
  height:130px;
  /* position:fixed; */
  /* width:100%; */
  /* position:relative; */
  top:0;
  z-index:1000;
}
.nav-left{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 200px;
}
.nav-right{
  margin-bottom: auto;
  gap:30px;
}
.navbar a {
  text-decoration: none;
  color: rgb(58, 27, 4);
  font-weight: bold;
  font-size: 18px;
}
.logo {
  height:70px;
  width: 250px;
  position:absolute;
  top:50px;
  left:0;
}
.nav-right a:not(:last-child) {
  border-right: 1px solid rgb(54, 27, 7);
  padding-right: 15px;
  margin-right: 10px;
}
.navbar a {
  text-decoration: none;
  color:rgb(62, 31, 9);
  font-weight: bold;
  font-size: 18px;
  transition: 0.1s;
}
.navbar a:hover {
  color:deeppink;
}
nav {
  background-color: #fff0e6;
  padding: 10px;
  display: flex;
  gap: 20px;
}

nav a {
  text-decoration: none;
  color: brown;
  font-weight: bold;
}
.home {
  background-color:#fdf8f0;
  width:1230px;
  padding: 10px 20px;
  display: inline-block;
  font-family: sans-serif;
  font-size: 16px;
  color: #4b2e1e;
  /* position: absolute; */
  /* position: fixed; */
}
.home a {
  color: #d9006c;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.2s;
}
.home a:hover {
  color: #cba135; 
}

.buy-section {
  position: relative;
  height:200px;
  padding: 120px 20px;
  text-align: center;
  background:white;
  overflow: hidden;
}
.buy-section::before {
  content:"";
  position:absolute;
  height:500px;
  width:100%;
  top: 0;
  left: -10%; 
  width: 120%;
  height: 150%;
  background-image:url(./background.jpg);
}
.buy-section h2,
.buy-section p {
  position: relative;
  z-index: 1;
}
.buy-section h2 {
  font-size:20px;
  font-weight: bold;
  color: #4b2a1a;
  margin-bottom: 15px;
  font-family:'Times New Roman', Times, serif;
}
.buy-section p {
  font-weight: bold;
  font-size:60px;
  color: #5a3a2b;
  max-width:700px;
  margin: auto;
}
.text{
  color:rgb(131, 60, 9);
  text-align: center;
  font-size:20px;
  font-family: 'Times New Roman', Times, serif;
}

.buy-online {
  background-color: #d2a55b;   
  width: 90%;
  min-height: 100vh;         
  padding: 80px 60px;
  text-align: center;
}

.buy-title {
  font-family: 'Dancing Script', cursive;
  font-size: 80px;
  color: #4b2a1a;
  margin-bottom: 100px;
}
.buy-cards {
  display: flex;
  justify-content: center;
  gap: 80px;
  margin-bottom: 60px;
}
.card {
  /* background: white; */
  width: 400px;
  height: 250px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
  cursor: pointer;
}
.card img {
  width: 400px;
  object-fit: contain;
  margin-bottom: 15px;
}
.card p {
  font-size: 20px;
  font-weight: bold;
  color: #4b2a1a;
}
.card:hover {
  transform: translateY(-10px);
  box-shadow: 0 20px 40px rgba(0,0,0,0.25);
}
.buy-note {
  max-width: 900px;
  margin: auto;
  font-size: 20px;
  color: #4b2a1a;
  line-height: 1.8;
}

.footer-nav {
  background-color: #fefaf5;
  /* height:200px; */
  padding: 40px 60px; 
  /* bottom: 30px; */
}
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  /* top:0px; */
  /* padding:0 20px; */
  /* margin-top:-180px; */
}
.footer-logo {
  width: 190px;
  position: relative;
  /* top:0px;
  align-items: center;
  padding:0px 10px; */
}
.footer-links {
  display: flex;
  gap:60px;
}
.footer-links a {
  text-decoration: none;
  color: #4a260f;
  font-weight:bold;
  font-family: 'Poppins', sans-serif;
  /* transition: color 0.1s;
  background: none;  */
  /* padding: 5px 10px; */
}
.footer-links a:hover {
  color:deeppink;
}
.footer-links a {
  background-color:transparent !important; 
  padding: 8px 12px;
  text-decoration: none;
  color: #4b2e2e;
}
 .footer-section {
  background-color:#4a260f;
  height:600px;
  color: white;
  padding: 60px;
  font-family: Arial, sans-serif;
  /* display: flex; */
  /* position: relative; */
  /* clip-path:(150% 100% at 50% 0%); */
  /* margin-top: 100px;  */
}
.footer-top {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom:40px;
}
.follow-us h4 {
  font-weight: bold;
  margin-bottom: 10px;
}
 .social-icons i {
  margin-right: 15px;
  font-size: 18px;
  cursor: pointer;
}
/* .footer-links-grid {
  display: flex;
  gap: 60px;
  left:200px;
}
.footer-links-grid div p {
  margin: 5px 0;
  cursor: pointer;
} */
 .right-links {
  /* flex: 2; */
  display: flex;
  /* justify-content: flex-end; */
  gap:80px;
}

.right-links ul {
  /* position:relative; */
  list-style: none;
  padding: 0;
  /* left:230px; */
  /* gap:20px; */
  /* display: flex; */
}
.footer-bottom{
  position: absolute;
  top:1900px;
  left:500px;
  display:flex;
  flex-wrap: wrap;
  float: right;
  margin-right:100px;
  font-size: 14px;
  margin-bottom: 50px;
}

 .footer-bottom-bar {
  background-color:#4a260f;
  padding: 30px 0;
  display: flex;
  justify-content: flex-start; 
  border-top: 1px solid #aaa;
}

.bottom-content {
  max-width: 500px;
  margin-left: 50px; 
  text-align: left; 
  color: #fff;
}

.bottom-content h2 {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 20px;
  font-family: Arial, sans-serif;
  color:white;
}

.discover-btn {
  padding: 10px 25px;
  border: 2px solid #fff;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  display: inline-block;
  transition: all 0.3s ease;
  background: transparent;
}

.discover-btn:hover {
  background-color: deeppink;
  color: white;;
}


