 body{
            margin:0;
            padding:0;
            box-sizing:border-box;
        }
        .container{
            background-image:url('./blackpink.jpg');
            background-repeat:no-repeat;
            background-size:100% 100%;
            height:280px;
            width:220px;
            margin: 75px auto;
            perspective: 800px;
        }
        .image{
            height: 100%;
            width: 100%;
            position: relative;
            transform-style: preserve-3d;
            transform-origin: left;
        }
        .face{
            height: 100%;
            width:100%;
            font-size:24px;
            display:flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            backface-visibility: hidden;
        }        
        .front{
            background-color:black;
            color:deeppink;
        }
        .back{
            background-color:deeppink;
            transform: rotateY(180deg);
        }
        .image:hover{
            transform:rotateY(-180deg);
            transition:transform 1s;
        }