 *{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background-color: white;
}

.container{
    height:250px;
    width:450px;
    border-radius:20px;
    margin:185px auto;
    color:white;
    background-image:url(ATM.jpj);
    display: flex;
    flex-wrap: wrap;
    flex-direction:row;
    gap: 10px;
    perspective: 800px;
    position: relative;
    box-shadow:3px 3px 3px white;
   
}

h2{
 margin-top:27px;
 margin-left:47px;  
}

.sone{
    font-size:3rem;
    margin-top:26px;
    margin-left:17px;
}



h4{
    font-size:26px;
    margin-top:-33px;
    margin-left:34px;
}

.stwo{
    transform: rotatez(90deg);
   margin-top: -69px;
    margin-left: -13px;
    font-size: 23px;
    font-size: 23px;

}


p{
   margin-top: -34px;
    margin-left: 56px;
    font-size: 9px;
    text-align: center;
}

.sv{
    margin-top:-33px;
    margin-left:-3px;
    font-weight: 800;
}

.svt{
    margin-top:-33px;
    margin-left:-3px;
    font-weight: 800;
}


h1{
    margin-left:-251px;
    margin-top:10px;
    font-size:20px;
    font-weight: 900;
}

h3{
   display: flex;
    font-size:24px;
    padding-left: 247px;
    padding-top: 25px;
}

.child{
    height:100%;
    width:100%;
    border-radius:20px;
    background-color: blue;
    background-image: url(ATM.jpj);
    position: absolute;
     /* transform-origin:right; */
    display: flex;
    flex-wrap: wrap;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    transform: rotateY(180deg);     
}

.frist{
   font-size:16px;
   margin-left:-143px;
   /* color:gold; */
   margin-bottom:13px;
}

.dummy{
    height:60px;
    width:100%;
    background-color: black;
    margin-top: -29px;
}

.sfrist{
   margin-left: 95px;

   margin-top: -10px;
    font-size: 41px;
    font-weight: 900;
    /* color: gold; */
}

.second{
    margin-top:0px;
    margin-left:10px;
    font-size:30px;
}

.third{
    margin-top: -23px;
    margin-left: 88px;
    font-size: 14px;
}


.container:hover{
    transform: rotatey(-180deg);
    transition-duration:2s;
    transform-style: preserve-3d;
    
}