*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: gray;
}
h1{
    color: lavenderblush;
    margin-top: 20px;
    text-align: center;
}
.container{
    display: flex;
    gap: 10px;
    /*position:absolute;*/
    /*left:250px;
    top:150px;*/
    flex-direction:column;
    align-items:center;
    justify-content:center;
}
.box1{
    top: 200px;
    height: 200px;
    width: 150px;
    border: 2px solid black;
    background-image: url(https://www.wallsnapy.com/img_gallery/murugan-vel-peacock-cock-4k-images-1200p-7421563.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.box2{
    top: 200px;
    height: 200px;
    width: 150px;
    border: 2px solid green;
    background-image: url(https://i.pinimg.com/originals/04/1c/1c/041c1ca6514cb0dda24b5f95ae9c792b.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.box3{
    top: 200px;
    height: 200px;
    width: 150px;
    border: 2px solid black;
    background-image: url(https://www.wallsnapy.com/img_gallery/murugan-vel-peacock-cock-4k-images-1200p-7421563.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.left_door,.right_door{
    position: absolute;
    height: 200px;
    width: 75px;
}
.left_door{
    background-image: url(https://wallpapercave.com/wp/wp8101224.jpg);
    background-size: cover;
    animation: doorleftright 4s linear infinite;
    transform-origin: left;
    background-repeat: no-repeat;
}
.right_door{
    background-image: url(https://wallpapercave.com/wp/wp8101224.jpg);
    background-size: cover;
    animation: doorleftright 4s linear infinite;
    transform-origin: right;
    background-repeat: no-repeat;
    margin-left: 75px;
}
@keyframes doorleftright{
    40%{transform: rotateY(-180deg);}
    60%{transform: rotateY(-180deg);}
    90%{transform: rotateY(0deg);}
}