body{
    margin:0;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:white;
}
.balls{
    width:300px;
    height:300px;
    border:2px solid violet;
    position:relative;
    margin:50 px auto;
    overflow:hidden;
}
.ball{
    width:20px;
    height:20px;
    border-radius:50%;
    position:absolute;
    animation-duration:4s;
    animation-iteration-count:infinite;
    animation-timing-function:linear;
    display: flex;
}
.pink{
    background-color:pink;
    animation-name:movepink;
}
.purple{
    background-color:purple;
    animation-name:movepurple;
}
@keyframes movepink{
    0%{top:0;left:0;}
    50%{top:180px;left:180px;}
    100%{top:0;left:0;}
}
@keyframes movepurple{
    0%{top:180px;left:180px;}
    50%{top:0;left:0;}
    100%{top:180x;left:180px;}
}
