body {
  margin: 20px;
}

h2 {
  font-size: 20px;
}

.box1{
  border: 2px solid;
  padding: 15px;
  width: 450px;
  margin-bottom: 25px;
  border-radius: 8px;
}
.box2{
  border: 2px solid;
  padding: 15px;
  width: 350px;
  margin-bottom: 25px;
  border-radius: 8px;
}
.box3{
  border: 2px solid;
  padding: 15px;
  width: 350px;
  margin-bottom: 25px;
  border-radius: 8px;
}
.box4{
  border: 2px solid;
  padding: 15px;
  width: 450px;
  margin-bottom: 25px;
  border-radius: 8px;
}
.box5{
  border: 2px solid;
  padding: 15px;
  width: 300px;
  margin-bottom: 25px;
  border-radius: 8px;
  height: 80px;
}
.box1 {
  border-color: orange;
}

.box2 {
  border-color: green
}

.box3 {
  border-color: blue
}

.box4 {
  border-color: yellow;
}

.box5 {
  border-color: purple;
  height: 30px;
}

.box1 p:nth-child(3) {
  border: 2px solid orange;
  display: inline-block;
  padding: 2px 8px;
  border-radius: 5px;
}

input[type="checkbox"]:checked {
  background-color: purple;  
}

.box3 p:nth-of-type(2) {
  text-decoration: underline;
  font-weight: bold;
}

.box4 .child p:only-child {
  color: brown;
  font-weight: bold;
}

.box5 div:only-child {
  background-color: transparent;
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
