h1 {
    font-size: 28px;
    font-weight: bold;
}

span {
    display: inline-block;
    padding: 5px 20px;
    margin: 10px;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}

.descendant {
    background-color: green;
}

.adjacent {
    background-color: orange;
}

.specific {
    background-color: purple;
}

.others {
    background-color: red;
}

.outer {
    border: 3px solid green;
    border-radius: 10px;
    width: 400px;
    padding: 20px;
    text-align: left;
    margin-top: 20px;
}


.inner {
    border: 3px solid blue;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
}


.p1 {
    border: 2px solid green;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}

.p2 {
    border: 2px solid orange;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
}


.listbox {
    border: 3px solid purple;
    border-radius: 8px;
    margin: 10px;
    padding: 10px;
}


.heading {
    border: 3px solid red;
    border-radius: 10px;
    margin: 10px;
    padding: 10px;
    text-align: center;
}
