body{
margin:40;
}
box{
height:200px;
width:50%;
border:1px solid black;
margin-right:3px;
float:left;
padding:10px;
margin-top:10px;
}
img{
height:150px;
width:150px;
border-radius=50%;
}
first box{
height:300px;
width:100%;
}
second box{
height:300px;
width:100%;
}

