body {
margin: 0;
background-color: white;
display: flex;
justify-content: center;
align-items: center;
height: 100vh;
}
.card {
width: 600px;
height: 500px;
background-color: lightgreen;
display: flex;
}
.left {
width: 60%;
text-align: center;
padding-top: 20px;
}
.profile-img {
width: 200px;
height: 200px;
border-radius: 50%;
border: 3px solid black;
}
.btn {
width: 120px;
padding: 8px;
border-radius: 20px;
background: none;
border: 1px solid black;
margin: 10px;
cursor: pointer;
}
.right {
width: 40%;
display: flex;
flex-direction:column;
justify-content:space-between;
padding-top:2px;
padding-bottom:2px;
box-sizing:border-box;
gap:10px;
}
.box {
height: 33.33%;
background-color: green;
color: white;
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
border-radius:5px;
}
.box:last-child {
border-bottom: none;
}
