.box {
width: 200px;
height: 200px;
font-size: 26px;
font-weight: bold;
justify-content: center;
text-align: center;
position:absolute;
}
.box1 {
color:black;
top: 0;
left: 0;
background-color: cyan;
}
.box2 {
color:black;
top: 0;
right: 0;
background-color: aquamarine;
}
.box3 {
color:white;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
background-color: brown;
}
.box4 {
color:white;
bottom: 0;
left: 0;
background-color: blue;
}
.box5 {
color:white;
bottom: 0;
right: 0;
background-color: black;
}

