* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color:rgb(128, 4, 4);
    font-family: 'Poppins', sans-serif;
}
.navbar {
    width: 100%;
    height: 80px;
    background: linear-gradient(90deg, #0f0f0f, #1a1a1a);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px;
    position: sticky;
    top: 0;
    /* z-index: 1000; */
    /* box-shadow: 0 8px 20px rgba(0,0,0,0.6); */
}
.logo {
    display: flex;
    align-items: center;
    gap: 12px;
    color: #d4af37;
    font-family: 'Playfair Display', serif;
    font-size: 26px;
    font-weight: 700;
    letter-spacing: 1px;
}

.logo img {
    width: 45px;
    height: 45px;
    object-fit: cover;
    border-radius: 50%;
    border: 2px solid rgb(136, 10, 10);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 35px;
}

.nav-links li a {
    text-decoration: none;
    color: #f5f5f5;
    font-size: 15px;
    font-weight: 400;
    position: relative;
    transition: 0.3s ease;
}

.nav-links li a::after {
    content: '';
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #d4af37;
    left: 0;
    bottom: -6px;
    transition: 0.3s ease;
}

.nav-links li a:hover::after {
    width: 100%;
}

.nav-links li a:hover {
    color: #d4af37;
}

/* .nav-links .active {
    color: #d4af37;
} */

.order-btn {
    padding: 10px 22px;
    border-radius: 25px;
    background-color: #d4af37;
    color: #111 !important;
    font-weight: 500;
    transition: 0.3s ease;
}

.order-btn:hover {
    background-color: #fff;
    color: #000 !important;
    box-shadow: 0 0 15px #d4af37;
}
.hero {
    height:90vh;
    display: flex;
    align-items: center;
    padding: 0 70px;
    background-color:rgb(127, 7, 7);
    gap: 40px;
}
.hero-left {
    flex: 1;
    color:whitesmoke;
}

.hero-left h1 {
    font-family: 'Playfair Display', serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 1.2;
    margin-bottom: 20px;
}

.hero-left h1 span {
    color:#e1ae06;
}

.hero-left p {
    font-size: 16px;
    color:#ccc;
    max-width: 500px;
    line-height: 1.8;
    margin-bottom: 20px;
}

.hero-left h3 {
    font-family: 'Playfair Display', serif;
    font-size: 18px;
    color: #d4af37;
    letter-spacing: 1px;
    margin-bottom: 35px;
}
.hero-buttons {
    display: flex;
    gap: 20px;
}

.btn {
    padding: 12px 28px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition: 0.3s ease;
}

.primary {
    background-color: #d4af37;
    color: #111;
}

.primary:hover {
    background-color: #fff;
    box-shadow: 0 0 15px #d4af37;
}

.secondary {
    border: 1px solid #d4af37;
    color: #111;
}

.secondary:hover {
    background-color: #d4af37;
    color: #111;
}

.hero-right {
    flex: 1;
    display: flex;
    justify-content: center;
}

.hero-right img {
    width: 90%;
    max-width: 480px;
    filter: drop-shadow(0 20px 40px rgba(0,0,0,0.8));
    transition: 0.4s ease;
}


