body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
}

.chessboard {
  display: flex;
  flex-direction: column;
  border: 16px solid #A67B5B;
  width: 400px;
  height: 400px;
}

.row {
  display: flex;
  flex: 1;
}

.square {
  flex: 1;
  background-color: #E6D8C3;
}

.square.dark {
  background-color: #8B6B4A;
}
