body{
background-color:red;
width:100%;
}
h3{
color:white;
}
td{
color:black;
text-align:center;
}
table{
width:80%;
padding:100%;
border-collapse:collapse;
}
tr,td,th{
border:3px solid white;
}
i{
font-size:20px;
text-align:center;
}