.boxes{
    height:500px;
    width:500px;
    margin:2px;
    border:2px solid red;
}
.box1{
    height:100px;
    width:100px;
    top: 2px;
    border:2px solid red;
    margin:2px;
}
.box1{
    margin-top:50px;
    margin-left:50px;
}