.input {
    border-color:#0000ffe2;
}

.parent>p {
    background-color: green;
    margin-left: 60px;
}

.heading+p {
    color: red;
    font-weight: bold;
}

.heading2+p {
    color: orange;
}

.heading3+p {
    color:orange;
}

